/mysql/#innodb_temp/
/mysql/mysql/
/mysql/performance_schema/
/mysql/symfony/
/mysql/symfony_agile/
/mysql/sys/
/mysql/#ib_16384_0.dblwr
/mysql/#ib_16384_1.dblwr
/mysql/auto.cnf
/mysql/binlog.000001
/mysql/binlog.000002
/mysql/binlog.index
/mysql/ca.pem
/mysql/ca-key.pem
/mysql/client-cert.pem
/mysql/client-key.pem
/mysql/ib_buffer_pool
/mysql/ib_logfile0
/mysql/ib_logfile1
/mysql/ibdata1
/mysql/ibtmp1
/mysql/mysql.ibd
/mysql/private_key.pem
/mysql/public_key.pem
/mysql/server-cert.pem
/mysql/server-key.pem
/mysql/undo_001
/mysql/undo_002
/app/var/
/app/var/cache/dev/ContainerDxyFfGq/
/app/var/cache/dev/ContainerJM0Tikv/
/app/var/cache/dev/doctrine/
/app/var/cache/dev/pools/
/app/var/cache/dev/profiler/
/app/var/cache/dev/translations/
/app/var/cache/dev/twig/
/app/var/cache/dev/annotations.map
/app/var/cache/dev/annotations.php
/app/var/cache/dev/App_KernelDevDebugContainer.php
/app/var/cache/dev/App_KernelDevDebugContainer.php.lock
/app/var/cache/dev/App_KernelDevDebugContainer.php.meta
/app/var/cache/dev/App_KernelDevDebugContainer.preload.php
/app/var/cache/dev/App_KernelDevDebugContainer.xml
/app/var/cache/dev/App_KernelDevDebugContainer.xml.meta
/app/var/cache/dev/App_KernelDevDebugContainerCompiler.log
/app/var/cache/dev/App_KernelDevDebugContainerDeprecations.log
/app/var/cache/dev/ContainerDxyFfGq.legacy
/app/var/cache/dev/serialization.php
/app/var/cache/dev/url_generating_routes.php
/app/var/cache/dev/url_generating_routes.php.meta
/app/var/cache/dev/url_matching_routes.php
/app/var/cache/dev/url_matching_routes.php.meta
/app/var/cache/dev/validation.php
